/* -----------------------------------------------
   
   C S S   M E S S A G E   B O X E S   v1.1
  
   * Son Güncelleme : 22 Ocak 2008, 11:45
   * Hazırlayan     : Erhan BURHAN
   * E-posta adresi : eburhan{at}gmail{nokta}com
   * Web adresi     : http://www.eburhan.com
   
   Thanks for famfamfam icons
   http://www.famfamfam.com/
  
-------------------------------------------------- */

.hata, .ikaz, .tamam, .bilgi {
    margin-bottom: 1.5em;
    padding: 1em 1.5em 1em 5.5em;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    color: #444
}

.hata    {background: #fbe3e4 url(eburhan_css/hata.png) 2.2em center no-repeat; border-color: #e0011b}
.hata a  {color: #d12f19}

.ikaz    {background: #fff6bf url(eburhan_css/ikaz.png) 2.2em center no-repeat; border-color: #ffd324}
.ikaz a  {color: #817134}

.tamam   {background: #e9ffdd url(eburhan_css/tamam.png) 2.2em center no-repeat; border-color: #72c868}
.tamam a {color: #529214}

.bilgi   {background: #e2ecee url(eburhan_css/bilgi.png) 2.2em center no-repeat; border-color: #9ddae6}
.bilgi a {color: #2d7ba2}


/* listeler */
.hata ul, .ikaz ul, .tamam ul, .bilgi ul {
    list-style: none;
    margin: 0em -4em;
    line-height: 20px;
}
.hata ul li, .ikaz ul li, .tamam ul li, .bilgi ul li {
    padding: 0px 0px 0px 1.3em;
}
.hata ul li  { background: url(eburhan_css/hata-bullet.png)  0 0.55em no-repeat }
.ikaz ul li  { background: url(eburhan_css/ikaz-bullet.png)  0 0.55em no-repeat }
.tamam ul li { background: url(.eburhan_css/tamam-bullet.png) 0 0.55em no-repeat }
.bilgi ul li { background: url(eburhan_css/bilgi-bullet.png) 0 0.55em no-repeat }
