form {
	border-top:solid 1px #c6cfe1;
	border-bottom:solid 1px #c6cfe1;
	background:#dfe4ee;
	padding:8px;
	color:#333333;
	font-family:"Trebuchet MS", Arial, Verdana;
	font-size:16px;
	line-height:26px;
}

form label {

	font-weight: bold;
}

form label.aciklama {

	color: #AAA;
	font-weight: normal;
}

form input, select, textarea {

	font-family:"Trebuchet MS", Arial, Verdana;
	border:1px solid #3b6e22;
	color:#666666;
	font-size:16px;
}


form input[type="submit"] {


	background:url(form/yesil.gif);
	border:1px solid #3b6e22;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}