@CHARSET "UTF-8";

/* Yazı Detay Alt Bilgisi */
div.yazi div.alt_bilgi {

	padding: 0px 10px;
	height: 15px;
	color: #3e98ad;
	font: bold 12px "Trebuchet MS", "Tahoma", sans-serif;
	display: table;
}

div.yazi div.alt_bilgi span.tarih {

	background: url(site/tarih1.png) no-repeat left center;
	padding-left: 20px;
	font: 12px "Trebuchet MS", "Tahoma", sans-serif;
	display: block;
	margin-bottom: 6px;
}

div.yazi div.alt_bilgi span.kategori {

	background: url(site/kategori1.png) no-repeat left center;
	padding-left: 20px;
	font: 12px "Trebuchet MS", "Tahoma", sans-serif;
	display: block;
	margin-bottom: 6px;	
}

div.yazi div.alt_bilgi span.hit {

	background: url(site/hit1.png) no-repeat left center;
	padding-left: 20px;
	font: 12px "Trebuchet MS", "Tahoma", sans-serif;	
	display: block;
	margin-bottom: 6px;
}

div.yazi div.alt_bilgi span.taglar {

	background: url(site/taglar1.png) no-repeat left center;
	padding-left: 20px;
	font: 12px "Trebuchet MS", "Tahoma", sans-serif;	
	display: block;
	margin-bottom: 6px;
}

/* Yaz Özeti Alt Bilgisi */
div.yazi_ozet {

	clear: both;
	padding-bottom: 15px;
}

div.yazi_ozet div.icerik {

	padding: 10px;
}

div.yazi_ozet div.alt_bilgi {

	color: #3e98ad;
	font: bold 12px "Trebuchet MS", "Tahoma", sans-serif;
	display: table;
}

div.yazi_ozet div.alt_bilgi span.devami {
	
	background: url(images/yazi_devami.png) no-repeat left center;
	padding-left: 20px;
	float: left;
	margin: 10px 0 0 10px;
	width: 140px;
}

div.yazi_ozet div.alt_bilgi span.kategori {
	
	background: url(images/yazi_kategori.png) no-repeat left center;
	padding-left: 20px;
	float: left;
	margin: 10px 0 0 10px;
	width: 140px;
}

div.yazi_ozet div.alt_bilgi span.hit {
	
	background: url(images/yazi_hit.png) no-repeat left center;
	padding-left: 20px;
	float: left;
	margin: 10px 0 0 10px;
	width: 140px;
}

div.yazi_ozet div.alt_bilgi span.tarih {
	
	background: url(images/yazi_tarih.png) no-repeat left center;
	padding-left: 20px;
	float: left;
	margin: 10px 0 0 10px;
	width: 140px;
}

/* BLOK 1 */
div.blok1 {

	clear:both;
	padding-bottom: 15px;
}

div.blok1 div.icerik {

	clear: both;
	padding: 10px;
}