form {
	border:solid 1px #c6cfe1;
	background:#dfe4ee;
	padding:8px;
	color:#333333;
	margin-bottom:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:24px;
}

form label {
	font-family:"Trebuchet MS", Arial, Verdana;
	font-size:16px;
	font-weight:bold;
	width: 10em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	white-space: nowrap;
}

form input, select, textarea {

	font-family:"Trebuchet MS", Arial, Verdana;
	border:1px solid #3b6e22;
	color:#666666;
	font-size:16px;
}


form input[type="submit"] {


	background:url(form/yesil.gif);
	border:1px solid #3b6e22;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}


/*

form p{
    clear: left;
    margin: 0;
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

 
form p label{
    float: left;
    width: 23%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:right;
	font-weight:bold;
	padding-right:6px;
}

form p input, select {
	border:1px solid #3b6e22;
	color:#666666;
}



form p textarea {
	border:1px solid #3b6e22;
	color:#666666;
}

*/