/* CSS Document */

table.tablo {

	border-collapse:collapse;
	background-color:#eeeeee;
	width:100%;
}

table.tablo thead tr th {
	background-color: #D16683;
	color: #ffffff;
	padding:8px;
	font-size:15px;
}

table.tablo tbody tr td {

	border-bottom: solid 1px #D16683;
	padding:4px;
	font-weight:bold;
}

table.tablo2 {

	border-collapse:collapse;
	background-color:#eeeeee;
}

table.tablo2 tbody tr div.baslik {
	background-color: #D16683;
	color: #ffffff;
	font-size:15px;
	padding: 6px;
	font-weight: bold;
}

table.tablo2 tbody tr div.icerik {

	border-bottom: solid 1px #D16683;
	padding-top: 6px;
	padding-bottom: 6px;
}